<%- include("partials/head", {title: "Upss... Ocurrió un error | Argentina Programa"}) %>

<body class="flex flex-col min-h-screen">
	<%- include("./partials/navbar") %>

	<section class="flex flex-col gap-6 p-4 justify-center text-center grow"><%= message %></section>

	<%- include("partials/footer") %>
</body>
