<nav class="w-full flex items-center bg-slate-900 text-gray-50 gap-4">
	<h1>
		<a
			href="/"
			class="flex items-center justify-center h-14 px-4 hover:bg-slate-800"
			><img
				src="/logo-big.jpg"
				alt="Logo del foro"
				width="180"
				class=""
		/></a>
	</h1>
	<ul>
		<li>
			<a
				href="/post"
				class="block p-4 h-14 text-inherit hover:bg-slate-800"
				>Crear post</a
			>
		</li>
	</ul>
</nav>
